{% load thumbnail %}

<article>
    <ul>
      <li>
      Автор: {{ post.author.get_full_name }}
      <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
      </li>
      <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>
      {% thumbnail post.image "960x539" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      {{ post.text }}
    </p>
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
  </article>